---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;

// make profile pic small & round
.profile img {
  width: 200px;       // pick your desired size
  height: 200px;
  object-fit: cover;  // crop to fill the circle
  border-radius: 50%;
}